
.ipynb_checkpoints/exploration_template-checkpoint.ipynb
.ipynb_checkpoints/slide_deck_template-checkpoint.ipynb
kickstarter-datasets/Kickstarter001.csv
kickstarter-datasets/Kickstarter002.csv
kickstarter-datasets/Kickstarter003.csv
kickstarter-datasets/Kickstarter004.csv
kickstarter-datasets/Kickstarter005.csv
kickstarter-datasets/Kickstarter006.csv
kickstarter-datasets/Kickstarter007.csv
kickstarter-datasets/Kickstarter008.csv
kickstarter-datasets/Kickstarter009.csv
kickstarter-datasets/Kickstarter010.csv
kickstarter-datasets/Kickstarter011.csv
kickstarter-datasets/Kickstarter012.csv
kickstarter-datasets/Kickstarter013.csv
kickstarter-datasets/Kickstarter014.csv
kickstarter-datasets/Kickstarter015.csv
kickstarter-datasets/Kickstarter016.csv
kickstarter-datasets/Kickstarter017.csv
kickstarter-datasets/Kickstarter018.csv
kickstarter-datasets/Kickstarter019.csv
kickstarter-datasets/Kickstarter020.csv
kickstarter-datasets/Kickstarter021.csv
kickstarter-datasets/Kickstarter022.csv
kickstarter-datasets/Kickstarter023.csv
kickstarter-datasets/Kickstarter024.csv
kickstarter-datasets/Kickstarter025.csv
kickstarter-datasets/Kickstarter026.csv
kickstarter-datasets/Kickstarter027.csv
kickstarter-datasets/Kickstarter028.csv
kickstarter-datasets/Kickstarter029.csv
kickstarter-datasets/Kickstarter030.csv
kickstarter-datasets/Kickstarter031.csv
kickstarter-datasets/Kickstarter032.csv
kickstarter-datasets/Kickstarter033.csv
kickstarter-datasets/Kickstarter034.csv
kickstarter-datasets/Kickstarter035.csv
kickstarter-datasets/Kickstarter036.csv
kickstarter-datasets/Kickstarter037.csv
kickstarter-datasets/Kickstarter038.csv
kickstarter-datasets/Kickstarter039.csv
kickstarter-datasets/Kickstarter040.csv
kickstarter-datasets/Kickstarter041.csv
kickstarter-datasets/Kickstarter042.csv
kickstarter-datasets/Kickstarter043.csv
kickstarter-datasets/Kickstarter044.csv
kickstarter-datasets/Kickstarter045.csv
kickstarter-datasets/Kickstarter046.csv
kickstarter-datasets/Kickstarter047.csv
kickstarter-datasets/Kickstarter048.csv
kickstarter-datasets/Kickstarter049.csv
kickstarter-datasets/Kickstarter050.csv
kickstarter-datasets/Kickstarter051.csv
kickstarter-datasets/Kickstarter052.csv
kickstarter-datasets/Kickstarter053.csv
kickstarter-datasets/Kickstarter054.csv
kickstarter-datasets/Kickstarter055.csv
